<link type="text/css" rel="stylesheet" href="index.component.css"/>

<main>
    <!-- <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-12">
                <iframe class="embed-responsive-item" src="https://youtube.com/embed/rMQ198k7l6g" ></iframe>
            </div>
        </div>
        <div>
            <div class="col-sm-12">
                <iframe class="embed-responsive-item" src="https://youtube.com/embed/5Av0Zs-ktN4" ></iframe>
            </div>
        </div>
    </div> -->
    <div class="container">
        <h2>Les jeux les plus attendus de 2021 !</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://youtube.com/embed/5Av0Zs-ktN4"></iframe>
                </div>
            </div>
            <h3>Présentation</h3>
            <p class="lead">2020 s'achève avec son lot de titres vidéoludiques qui nous auront fait rêver, nous aurons occupé et nous aurons captivé durant cette période difficile. Mais, à présent, il est temps de se tourner vers la nouvelle année et de voir ce que le calendrier nous réserve pour 2021!<br/>

            <br/>Découvrez une sélection des jeux les plus attendus de 2021 ! </p>
            <p class="lead"><a href="https://www.youtube.com/user/jvcom">By JV - Jeux Vidéo</a></p>
        </div>
        <h2>TOP 10 des sorties jeux vidéo en OCTOBRE 2021 ! 🎮</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://youtube.com/embed/rMQ198k7l6g"></iframe>
                </div>
            </div>
            <h3>Présentation</h3>
            <p class="lead">Voici notre vidéo mensuelle qui récapitule les sorties des jeux à venir en Octobre 2021, sur les consoles PlayStation, Xbox, Switch ou encore PC ! Alors, pour lequel ou lesquels allez-vous craquer ?</p><br/>
            <p class="lead"><a href="https://www.youtube.com/channel/UCDGmZYT5QfvfEXgzaEAYNpg">By Jeux Vidéo Magazine</a></p>
        </div>
    </div>
</main>
