<div class="list row">
  <div class="col-md-12">
    <h4>Liste des Jeux</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Description</th>
          <th scope="col">Image</th>
          <th scope="col">Catégories</th>
          <th scope="col" style="min-width: 150px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jeux of jeux;">
          <th scope="row">{{jeux.id}}</th>
          <td><b>{{jeux.Titre}}</b></td>
          <td>{{jeux.Description}}</td>
          <td><img src={{jeux.Image}} alt="test"/></td>
          <td>{{jeux.Categories}}</td>
          <td>
            <button type="button" class="btn btn-danger" routerLink="/put/{{jeux.id}}">Mettre à jour</button>
            <button type="button" class="btn btn-warning" (click)="deleteJeux(jeux.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
